/* ----------INDEX---------- */


/* ----------INDEX - CABECERA---------- */


.logo {
    width: 20%;
    padding-left: 40%;
    padding-right: 40%;
}

.header {
    position: sticky;
    top: 1px;
    z-index: 2;
}

 
.titulo1 {
    text-align: center;
}

/* ----------INDEX - MENU---------- */


ul { 
    list-style: none;
    font-size: 0;
    padding: 0;
}
li {
    display: inline-block;
    width: 50%;
    position: relative;
}
a {
    font-size: 14px;
    text-align: center;
    display: block;
    color: white;
    background-color: cornflowerblue;
    padding: 5px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    cursor: pointer;
}

a:hover {
    background-color: darkcyan;

}
ul ul {
    position: absolute;
    display: none;
    width: 100%;
}

ul li:hover ul {
    display: block;
    width: 200%;
}


.foto1 {
    width: 40%;
    border: solid 9px darkcyan;
      
}

.foto2 {
    width: 80%;
    border: solid 5px darkcyan;
}

.foto3 {
    width: 60%;
    border: solid 7px pink;
    margin-left: 20%;
    margin-right: 20%;
}


p {
    text-align: center;
}


 #index-conteiner {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:

    "index1 index2"
    "index4 index3"
    "index5 index6"
    
    ;
}


.index1 {
    padding-top: 50px;
    grid-area: index1;
    text-align: center;
}


.index2 {
    padding-top: 150px;
    grid-area: index2;
    text-align: center;
}

.index3 {
    padding-top: 50px;
    grid-area: index3;
    text-align: center;
}

.index4 {
    padding-top: 150px;
    grid-area: index4;
    text-align: center;
}

.index5 {
    padding-top: 50px;
    grid-area: index5;
    text-align: center;
}

.index6 {
    padding-top: 150px;
    grid-area: index6;
    text-align: center;
}




/* ----------QUIENES SOMOS---------- */

#QS-conteiner {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "QS1 QS2"
    "QS3 QS4"
    "QS5 QS6"
    "QS7 QS8";

}

.QS1 {
    grid-area: QS1;
}

.QS2 {
    padding-top: 30px;
    grid-area: QS2;
    text-align: center;
}

.QS3 {
    padding-top: 30px;
    grid-area: QS3;
}

.QS4 {
    padding-top: 30px;
    grid-area: QS4;
    text-align: center;
}

.QS5 {
    padding-top: 30px;
    grid-area: QS5;
}

.QS6 {
    padding-top: 30px;
    grid-area: QS6;
    text-align: center;
}

.QS7 {
    padding-top: 30px;
    grid-area: QS7;
}

.QS8 {
    padding-top: 30px;
    grid-area: QS8;
    text-align: center;
}

/* ----------EMMA CHAMBERLAIN---------- */

th {
    color: cadetblue;
}


p {
    font-size: 20px
}


.EMMACHAMBERLAIN__entrevistas {
    background-color:cornflowerblue;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    
}

.EMMACHAMBERLAIN__entrevistas:hover {
    background-color: rgb(70, 70, 206);
    transform: scale(1.1);
    100%{top:0px;}
}

.EMMACHAMBERLAIN__premios {
    margin-left: auto;
    margin-right: auto;
}


/* ----------MET GALA---------- */

#entrevistas-met-gala {
    background: linear-gradient( white, lightgrey, rgb(111, 172, 192), lightgrey, white);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    
}

#entrevistas-met-gala p {
    text-align: center;
    
}

.entrevistas {
   border: solid 5px darkcyan;
   
}



/* ----------CONTACTO---------- */

.unete {
    padding-top: 30px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    text-align: center;

}

.unete1 {
    padding-top: 5px;
    padding-bottom: 10px;
}


.contacto__whatsapp{
    height: 100px;
    width: 100px;
    position: fixed;
    display: flex;
}



/* ----------PRODUCTOS---------- */

.productos__fondo {
    text-align: center;
}

.productos__estilo {
    background-color: white;
    width: 400px;
    height: 400px;
    border: solid 20px lightgray;
    display: inline-block;
    text-align: center;
    background: linear-gradient(lightgray, white);
    
}


.productostamaño {
    width: 80%;
}

.precios {
    text-align: center;
    border: solid 5px darkcyan;
    background: linear-gradient(whitesmoke, lightblue, whitesmoke);
}

.boton_comprar {
	background-color: lightcoral;
	border-radius:28px;
	border:1px solid darksalmon;
	display:block;
    position: relative;
    width: 60px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
    text-align: center;
	font-size:10px;
	padding:8px 31px;
	text-decoration:none;
    margin: 0 auto;
    margin-top: 5px;
    animation: saltarin 2s infinite;
    position: relative;
}

.boton_comprar:hover {
    background-color: coral;

}


@keyframes saltarin {
    0% {top:0px}
    50%{top: 10px;}
    100%{top:0px}
}


/* ----------SUCURSALES---------- */

#sucursales-conteiner {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 50px;
    align-items: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "sucursal1 info-sucursal1"
    "sucursal2 info-sucursal2"
    "sucursal3 info-sucursal3"
    "sucursal4 info-sucursal4"
    "sucursal5 info-sucursal5"

 ;
}

.sucursal1 {
    padding-top: 10px;
    grid-area: sucursal1;
}

.info-sucursal1 {
    grid: info-sucursal1;
    text-align: center;
    border: solid 3px black;
}

.sucursal2 {
    padding-top: 10px;
    grid-area: sucursal2;
}

.info-sucursal2 {
    grid-area: info-sucursal2;
    text-align: center;
    border: solid 3px black;
}

.sucursal3 {
    padding-top: 10px;
    grid-area: sucursal3;
}

.info-sucursal3 {
    grid-area: info-sucursal3;
    text-align: center;
    border: solid 3px black;
}

.sucursal4 {
    padding-top: 10px;
    grid-area: sucursal4;
}

.info-sucursal4 {
    grid-area: info-sucursal4;
    text-align: center;
    border: solid 3px black;
}

.sucursal5 {
    padding-top: 10px;
    grid-area: sucursal5;
}

.info-sucursal5 {
    grid-area: info-sucursal5;
    text-align: center;
    border: solid 3px black;
}


/* ----------FOOTERS---------- */

.footer {
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
}

.footer__items {
     text-align: center;
     flex-direction: row;

}

.boton_footer {
    background-color: light;
	border-radius:28px;
	border:3px solid lightblue;
    width: 200px;
	cursor:pointer;
	font-family:Arial;
	font-size:10px;
	padding:10px 31px;
	text-decoration:none;
    margin: 0 auto;
    position: relative;
}

.boton_footer:hover {
    background-color: darkcyan;

}

/* ----------------RESPONSIVE MOBILE---------------- */

/* ----------INDEX MOBILE---------- */

@media (max-width: 420px) {

    .logo {
        width: 50%;
        padding-left: 25%;
        padding-right: 25%;
    }
    
    .header {
        position: sticky;
        top: 1px;
        z-index: 2;
    }
    
     
    .titulo1 {
        text-align: center;
    }
    
    
    ul { 
        list-style: none;
        font-size: 0;
        padding: 0;
    }
    li {
        width: 50%;
        position: relative;
    }
    a {
        font-size: 15px;
        text-align: center;
        display: block;
        color: white;
        background-color: lightcoral;
        padding: 5px;
        text-transform: uppercase;
        text-decoration: none;
        font-family: sans-serif;
        cursor: pointer;
    }
    
    a:hover {
        background-color: pink;
    
    }
    ul ul {
        position: absolute;
        display: none;
        width: 100%;
    }
    
    ul li:hover ul {
        display: block;
        width: 200%;
    }
    
    #index-conteiner {
        display: flex;
        background: linear-gradient( white, lightgrey, white);
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .index1 .index2 .index3 .index4 .index5 .index6 {
        text-align: center;
    }

    .foto2 {
        width: 80%;
        border: solid 5px coral;
    }

    .footer {
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .footer__items {
      text-align: center;
    }
    
    .boton_footer {
        background-color: rgb(211, 97, 116);
        border-radius:28px;
        border:3px solid rgb(162, 75, 89);
        cursor:pointer;
        font-family:Arial;
        font-size:10px;
        text-decoration:none;
        position: relative;
    }
    
    .boton_footer:hover {
        background-color: rgb(249, 161, 151);
    
    }


/* ---------- MOBILE---------- */

th {
    color: pink;
}


p {
    font-size: 20px
}


.EMMACHAMBERLAIN__entrevistas {
    background-color:rgb(211, 97, 116);
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    
}

.EMMACHAMBERLAIN__entrevistas:hover {
    background-color: rgb(249, 161, 151);
    transform: scale(1.1);
    100%{top:0px;}
}

.EMMACHAMBERLAIN__premios {
    margin-left: auto;
    margin-right: auto;
}
}